block offer confirmation modal
  #offerConfirmationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='', area-describedby='confirm successful barter offer')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-body
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-footer
          h4 Your offer has been made.
